---
title: Lab 3 Singing a song
author: Sneha Narayanan
format:
    html:
        toc: true
        code-fold: true
embed-resources: true
theme: "Lumen"

---

In [ ]:
import numpy as np

In [151]:
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")

In [152]:
xmas.head(12)

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

In [153]:
xmas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Day           12 non-null     int64
 1   Day.in.Words  12 non-null     object
 2   Gift.Item     12 non-null     object
 3   Verb          7 non-null      object
 4   Adjective     4 non-null      object
 5   Location      1 non-null      object
dtypes: int64(1), object(5)
memory usage: 708.0+ bytes

In [349]:
xmas2 = xmas2.fillna('')

# Function 1: pluralize_gift()

In [155]:
obj_1 = "foot"
obj_2 = "baby"
obj_3 = "tree"

obj_1.find("oo")
obj_2[-1]
obj_3.find("oo")

obj_1.replace("oo", "ee")
obj_2.replace("y", "ies")
obj_3 + "s"

'trees'

In [156]:
def pluralize_gift(gift):
    if "oo" in gift:
        gift = gift.replace("oo", "ee")
    elif gift[-1]=='y':
        gift = gift.replace("y", "ies")
    else:
        gift = gift + 's'  

    return gift

In [157]:
pluralize_gift("fly")

'flies'

In [158]:
pluralize_gift("goose")

'geese'

In [159]:
pluralize_gift("dog")

'dogs'

In [160]:
np.vectorize(pluralize_gift)

In [277]:
def pluralize_gift(gift):
    if "oo" in gift:
        gift = gift.replace("oo", "ee")
    elif gift[-1]=='y':
        gift = gift[:-1] + "ies"
    else:
        gift = gift + 's'  

    return gift

In [162]:
xmas['Gift.Item'].apply(pluralize_gift)

0     partridges
1          doves
2           hens
3          birds
4          rings
5          geese
6          swans
7          maids
8         ladies
9          lords
10        pipers
11      drummers
Name: Gift.Item, dtype: object

# Function 2: make_phrase()

In [163]:
def make_phrase(num, num_word, item, verb, adjective, location):
    verb = verb if verb else " "
    adjective = adjective if adjective else " "
    location = location if location else " "
    
    if num >1:
        item = pluralize_gift(item)
    
    if item[:1].lower() in ['a', 'e', 'i', 'o', 'u']:
        vowel = True
    else:
        vowel = False
    
    if num == 1:
        article = "an" if vowel else "a"
        phrase = f"{article} {adjective} {item} {location}".strip()
    else:
        phrase = f"{num_word} {adjective} {item} {verb} {location}".strip()
    

    return phrase

In [164]:
make_phrase(num=3, num_word='three', item='hen', verb='', adjective='french', location='')

'three french hens'

In [165]:
make_phrase(num=5, num_word='five', item='ring', verb='', adjective='golden', location='')

'five golden rings'

In [166]:
make_phrase(num=1, num_word='one', item='partridge', verb='', adjective='', location='in a pear tree')

'a   partridge in a pear tree'

In [167]:
xmas['Full.Phrase'] = xmas.apply(
    lambda row: make_phrase(
        num=row['Day'],
        num_word=row['Day.in.Words'],
        item=row['Gift.Item'],
        verb=row['Verb'],
        adjective=row['Adjective'],
        location=row['Location']
    ),
    axis=1
)

In [168]:
xmas

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Full.Phrase
0,1,first,partridge,,,in a pear tree,a partridge in a pear tree
1,2,second,dove,,turtle,,second turtle doves
2,3,third,hen,,french,,third french hens
3,4,fourth,bird,,calling,,fourth calling birds
4,5,fifth,ring,,golden,,fifth golden rings
5,6,sixth,goose,a-laying,,,sixth geese a-laying
6,7,seventh,swan,a-swimming,,,seventh swans a-swimming
7,8,eighth,maid,a-milking,,,eighth maids a-milking
8,9,ninth,lady,dancing,,,ninth ladies dancing
9,10,tenth,lord,a-leaping,,,tenth lords a-leaping
10,11,eleventh,piper,piping,,,eleventh pipers piping
11,12,twelfth,drummer,drumming,,,twelfth drummers drumming

# Function 3: sing_day()

In [341]:
def sing_day(dataset, num, phrase_col):
    num_word = dataset.loc[num - 1, 'Day.in.Words']
    intro = f"On the {num_word} day of Christmas, my true love sent to me:"
  
    gift_word = {
        1: "one", 2: "two", 3: "three", 4: "four", 5: "five",
        6: "six", 7: "seven", 8: "eight", 9: "nine", 10: "ten",
        11: "eleven", 12: "twelve"
    }
    def format_gift(i):
        phrase = dataset.loc[i - 1, phrase_col]
        phrase = ' '.join(phrase.split()[1:])
        if i == 1:
            return phrase.replace("one","a").replace("one","an") + "."
        else:
            return f"{gift_word[i]} {phrase},"
    gifts = list(map(format_gift, range(num, 0, -1)))
    
    return intro + "\n" + "\n".join(gifts).strip(",")

In [342]:
print(sing_day(xmas, 3, "Full.Phrase"))

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
partridge in a pear tree.

# XMAS 2

In [343]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")

In [344]:
xmas2

    Day Day.in.Words Gift.Item         Verb Adjective       Location
0     1        first     email          NaN       NaN  from Cal Poly
1     2       second     point          NaN      meal            NaN
2     3        third       pen          NaN      lost            NaN
3     4       fourth    review          NaN    course            NaN
4     5        fifth      exam          NaN  practice            NaN
5     6        sixth    grader      grading       NaN            NaN
6     7      seventh    senior    stressing       NaN            NaN
7     8       eighth       mom    a-calling       NaN            NaN
8     9        ninth     party      bumping       NaN            NaN
9    10        tenth      load   of laundry       NaN            NaN
10   11     eleventh    friend  goodbye-ing       NaN            NaN
11   12      twelfth      hour     sleeping       NaN            NaN

In [350]:
xmas2['Gift.Item'].apply(pluralize_gift)

0      emails
1      points
2        pens
3     reviews
4       exams
5     graders
6     seniors
7        moms
8     parties
9       loads
10    friends
11      hours
Name: Gift.Item, dtype: object

In [351]:
xmas2['Full.Phrase'] = xmas2.apply(
    lambda row: make_phrase(
        num=row['Day'],
        num_word=row['Day.in.Words'],
        item=row['Gift.Item'],
        verb=row['Verb'],
        adjective=row['Adjective'],
        location=row['Location']
    ),
    axis = 1
)

In [352]:
xmas2

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Full.Phrase
0,1,first,email,,,from Cal Poly,an email from Cal Poly
1,2,second,point,,meal,,second meal points
2,3,third,pen,,lost,,third lost pens
3,4,fourth,review,,course,,fourth course reviews
4,5,fifth,exam,,practice,,fifth practice exams
5,6,sixth,grader,grading,,,sixth graders grading
6,7,seventh,senior,stressing,,,seventh seniors stressing
7,8,eighth,mom,a-calling,,,eighth moms a-calling
8,9,ninth,party,bumping,,,ninth parties bumping
9,10,tenth,load,of laundry,,,tenth loads of laundry
10,11,eleventh,friend,goodbye-ing,,,eleventh friends goodbye-ing
11,12,twelfth,hour,sleeping,,,twelfth hours sleeping

In [353]:
print(sing_day(xmas2, 12, "Full.Phrase"))

On the twelfth day of Christmas, my true love sent to me:
twelve hours sleeping,
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
email from Cal Poly.